
.header{
    background-color: #1F2937; 
    font-family: sans-serif;
}
.content-left p {
    color:  #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.right-side ul{
    color: #E5E7EB;
    font-size: 18px;
}
.content-left button{
    color: #E5E7EB;
    background-color: #3882f6;
    font-size: 18px;
}
.content-left div {
    color: #E5E7EB;
    font-size: 18px;
}
.left-side {
    color: #f9faf8;
    font-size: 24px;
}.content-right{
    color: #E5E7EB;
    font-size: 18px;
}

.upper-middle p{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.text ul{
    color: #1F2937;
    font-size: 18px;
}

.lower-middle{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
}.lower-middle div{
    font-weight: bolder;
}